@import "tailwindcss";

@theme {
  --primary: #a41c1c; /* Deep Red */
  --secondary: #e6d8ca; /* Soft Beige */
  --tertiary: #710202; /* Dark Burgundy */
  --gray-dark: #090907; /* Very Dark Gray */
}
